doctype html

head
  block head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/static/stylesheets/app.css", media="screen, projection", rel="stylesheet", type="text/css")
    script(src="/static/bower_components/modernizr/modernizr.js")
    script(src="/static/bower_components/jquery/dist/jquery.min.js")
    script(src="/static/bower_components/foundation/js/foundation.min.js")
    script(src="/static/js/app.js")

block body
  body
    nav.top-bar.large(role="navigation", data-topbar)
      .row
        .large-2.medium-3.small-6.columns
          ul.title-area
            li.name
              h1
                a.logo(href="/")
        if user.is_authenticated
          .large-offset-8.large-2.medium-offset-6.medium-3.small-offset-2.small-4.columns
            section.top-bar-section
              ul
                li.text-right
                  a(href="/accounts/profile/")
                    img.topbar-profile-image(src="{{user.profile.avatar.url}}")
    block content