extends base.jade

block head
  {{block.super}}
  title 文章
  link(rel="stylesheet", href="/static/bower_components/medium-editor/dist/css/medium-editor.css")
  link(rel="stylesheet", href="/static/bower_components/medium-editor/dist/css/themes/default.css")
  link(rel="stylesheet", href="/static/bower_components/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.min.css")
  script(src="/static/bower_components/medium-editor/dist/js/medium-editor.min.js")
  script(src="/static/bower_components/medium-editor-insert-plugin/dist/js/medium-editor-insert-plugin.all.min.js")

block content
  .edit-content-container
    .row.margin-top-xl
      .large-12.columns.large-centered
        input.article-title-edit(type='text', name='title', placeholder='标题', value='{{article.title}}')
    .row.margin-top-m
      .large-12.columns.large-centered
        .editable(data-placeholder='内容')
          {{article.content | safe}}

  .edit-article-tool-box
    .row
      .large-4.columns.large-centered
        .row
          .small-6.columns
            a.button.btn-save(href="#") 保存
          .small-6.columns
            a.button.btn-publish(href="#") 发布


  script.
    data = {
      article_id: {{article.id}}
    };
  script(src="/static/js/edit_article.js")
