extends base

block head
  {{block.super}}
  title 坚果

block body
  body.login-background
    form.login-form.large-4.medium-6.columns.large-centered.medium-centered(action="/accounts/login/?next=/home/", method="POST")
      -csrf_token
      .row
        .logo.large-6.medium-6.columns.large-centered.medium-centered.small-centered
        p.slogon.large-8.medium-8.columns.large-centered.medium-centered
          | 写下你的故事 我们一起精彩
      .row
        .large-12.columns
          {{form.login}}
      .row
        .large-12.columns
          {{form.password}}
      .row.action
        .large-8.medium-10.small-10.columns.large-centered.medium-centered.small-centered
          .row
            .large-offset-1.large-5.medium-offset-1.medium-5.small-offset-1.small-5.columns
              button.button.visible-for-small-only(type="submit") 登录
              button.button.tiny.visible-for-medium-up(type="submit") 登录
            .large-offset-1.large-5.medium-offset-1.medium-5.small-offset-1.small-5.columns
              a.button.visible-for-small-only(href="/accounts/register/") 注册
              a.button.tiny.visible-for-medium-up(href="/accounts/register/") 注册

