extends base

block head
  {{block.super}}
  title 坚果

block body
  body.login-background
    form.login-form.large-4.columns.large-centered(action="/accounts/login/?next=/home/", method="POST")
      -csrf_token
      .row
        .logo.large-6.columns.large-centered
        p.slogon.large-8.columns.large-centered
          | 写下你的故事 我们一起精彩
      .row
        .large-12.columns
          {{form.login}}
      .row
        .large-12.columns
          {{form.password}}
      .row.action
        .large-8.columns.large-centered
          .row
            button.large-5.button.tiny.left(type="submit") 登录
            a.large-5.button.tiny.right(href="/accounts/register/") 注册

