extends base.jade

block head
  {{block.super}}
  title 修改个人资料
  link(href="/static/bower_components/cropper/dist/cropper.min.css", rel="stylesheet", type="text/css")


block content
  .large-4.columns.large-centered
    .row.margin-top-xl
      form(action="/accounts/logout/", method="post")
        -csrf_token
        button.button.tiny.secondary(type="submit") 登出

    .row
      form
        .row
          .large-12.columns
            h4 修改资料
        .row
          .margin-top-m
            .large-6.columns
              img.profile-image(src="{{profile.avatar.url}}")
            .large-6.columns
              .row
                input#js-image-input(type="file", name="picture", style="display:none")
                a.button.tiny.large-10.large-centered.select-image-btn(href="#") 选择头像

        .row
          .large-12.columns
            value = profile.career or ''
            input(type="text", placeholder="职业", name='career', value="{{value}}")
        .row
          .large-12.columns
            intro = profile.introduction or ''
            textarea(type="text", placeholder="介绍", name='introduction', rows=3) {{intro}}

        .row.action
          .large-8.columns.large-centered.margin-top-m
            .row
              .small-12.columns.text-center
                a.button.btn-confirm(href="#") 保存

  #myModal.reveal-modal(data-reveal=true)
    img#js-profile(style="max-width: 140px; max-height: 140px")
    a.button.tiny.btn-set-profile(href="#") 确定
    a.close-reveal-modal &#215;

  script(type="text/javascript", src="/static/bower_components/cropper/dist/cropper.min.js")
  script(type="text/javascript", src="/static/js/profile.js")

