.login_background
  background: image_url('login-background.jpg') no-repeat center center fixed
  background-size: 100%

.logo
  background: image_url('logo.png') no-repeat center center
  background-size: 100%
  height: 40px
  width: 60px
