@import "compass/css3"

.top-bar
  .name
    a.logo
      height: 80px
      line-height: 80px
      width: 100px

@media #{$large-only}
  .top-bar .row
    max-width: 1000px

.topbar-profile-image
  height: 60px
  width: 60px
  +border-radius(5px)

